replicaCount: 3
kind: Deployment
autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 10

resources:
  limits:
    cpu: 500m
    memory: 512Mi

ingress:
  enabled: true
  className: "nginx"
  hosts:
    - host: www.example.com
      paths:
        - path: /
          pathType: Prefix
