replicaCount: 1

image:
  repository: redis
  pullPolicy: IfNotPresent
  tag: "7.0"

service:
  type: ClusterIP
  port: 6379

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

persistence:
  enabled: true
  storageClass: "gp3"
  accessMode: ReadWriteOnce
  size: 5Gi

auth:
  password: "changeme"

config:
  redis.conf: |
    maxmemory 200mb
    maxmemory-policy allkeys-lru
    appendonly yes
